@import "tailwindcss";

:root {
  --background-rgb: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
}

@layer base {
  :root {
    --color-background: 0 0% 100%;
    --color-foreground: 240 10% 3.9%;

    --color-muted: 240 4.8% 95.9%;
    --color-muted-foreground: 240 3.8% 46.1%;

    --color-popover: 0 0% 100%;
    --color-popover-foreground: 240 10% 3.9%;

    --color-border: 240 5.9% 90%;
    --color-input: 240 5.9% 90%;

    --color-card: 0 0% 100%;
    --color-card-foreground: 240 10% 3.9%;

    --color-primary: 240 5.9% 10%;
    --color-primary-foreground: 0 0% 98%;

    --color-secondary: 240 4.8% 95.9%;
    --color-secondary-foreground: 240 5.9% 10%;

    --color-accent: 240 4.8% 95.9%;
    --color-accent-foreground: 240 5.9% 10%;

    --color-destructive: 0 84.2% 60.2%;
    --color-destructive-foreground: 0 0% 98%;

    --color-info: 204 94% 94%;
    --color-info-foreground: 199 89% 48%;

    --color-success: 149 80% 90%;
    --color-success-foreground: 160 84% 39%;

    --color-warning: 48 96% 89%;
    --color-warning-foreground: 25 95% 53%;

    --color-error: 0 93% 94%;
    --color-error-foreground: 0 84% 60%;

    --color-ring: 240 5.9% 10%;

    --color-radius: 0.5rem;
  }

  .dark,
  [data-kb-theme="dark"] {
    --color-background: 240 10% 3.9%;
    --color-foreground: 0 0% 98%;

    --color-muted: 240 3.7% 15.9%;
    --color-muted-foreground: 240 5% 64.9%;

    --color-accent: 240 3.7% 15.9%;
    --color-accent-foreground: 0 0% 98%;

    --color-popover: 240 10% 3.9%;
    --color-popover-foreground: 0 0% 98%;

    --color-border: 240 3.7% 15.9%;
    --color-input: 240 3.7% 15.9%;

    --color-card: 240 10% 3.9%;
    --color-card-foreground: 0 0% 98%;

    --color-primary: 0 0% 98%;
    --color-primary-foreground: 240 5.9% 10%;

    --color-secondary: 240 3.7% 15.9%;
    --color-secondary-foreground: 0 0% 98%;

    --color-destructive: 0 62.8% 30.6%;
    --color-destructive-foreground: 0 0% 98%;

    --color-info: 204 94% 94%;
    --color-info-foreground: 199 89% 48%;

    --color-success: 149 80% 90%;
    --color-success-foreground: 160 84% 39%;

    --color-warning: 48 96% 89%;
    --color-warning-foreground: 25 95% 53%;

    --color-error: 0 93% 94%;
    --color-error-foreground: 0 84% 60%;

    --color-ring: 240 4.9% 83.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {

  }
  body {

    font-feature-settings:
            "rlig" 1,
            "calt" 1;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9  rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 ;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  border: 4px solid transparent;
  background-clip: content-box;

}

::-webkit-scrollbar-corner {
  display: none;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}


.column-header {
  --tw-bg-opacity: 1;
  --tw-border-opacity: 1;
  border-top-width: 0px;
  cursor: move;
  font-weight: 200;
  padding: .1rem;
  text-align: center
}

.sortable {
  --tw-bg-opacity: 1;
  cursor: move;
  font-weight: 500;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(255,255,255,var(--tw-text-opacity));
  white-space: normal;

}